@mixin mq($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin line {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include mq(768px) {
		flex-direction: row;
		align-items: center;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;

	font-family: sans-serif;
	color: white;
}

.line {
	border-top: 1px solid white;
	width: 7rem;
}

.container {
	background: url(../assets/sands.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;

	.content {
		padding: 3rem;

		.title {
			font-size: 4rem;
			margin-bottom: initial;

			@include mq(768px) {
				font-size: 8rem;
			}
		}

		.tagline {
			@include line;
			margin-top: 4rem;

			.tag {
				line-height: 1.6;

				@include mq(768px) {
					font-size: 2rem;
				}
			}
		}
	}

	.side {
		background: white;
		color: black;
		height: 30vh;
		width: 100vw;
		position: absolute;
		bottom: 0;
		@include line;
		padding: 6rem 3rem;

		@include mq(768px) {
			justify-content: center;
			align-items: center;
			width: 40vw;
			height: 30vh;
		}

		.line {
			border-color: black;
		}

		.subtitle {
			text-transform: uppercase;
		}
	}
}
